<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign in</title>
</head>
<body>
<div class="container">
  <form action="/action_page.java">
    <div class="row">
      <h2 style="text-align:center">Login</h2>
      <div class="vl">
        <span class="vl-innertext"></span>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p> sign in manually or sign up using this <p><a href="http://localhost:63342/social-network-spring/templates/signup.html?_ijt=6110pd9am4m2suptrbecctosba">signup</a></p></p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>

</body>
</html>

